.image-inline-left {
	padding-bottom: 2em;
	padding-top: 2em;

	.img-inline {
	@include span-columns(7);

	img {
		max-height: 400px;	
	}


	}

	.text-wrap {
		position: relative;
		height: 400px;
		@include span-columns(5);
		@include omega();

		.text {
			position: absolute;
			@include center(y);

			h1 {
				text-align: left;
			}

		}
	}
}